<template>
  <div class="submit-form mt-3 mb-6 mx-auto">
    <p class="headline">Ajouter un nouveau film</p>

    <div v-if="!submitted">
      <v-form ref="form" lazy-validation>
        <v-text-field
          v-model="movie.title"
          :rules="[(v) => !!v || 'Le titre est requis']"
          label="Title"
          required
        ></v-text-field>

        <v-text-field
          v-model="movie.year"
          :rules="[(v) => !!v || 'L\'année est requise']"
          label="Année de sortie"
          required
        ></v-text-field>

        <v-text-field
          v-model="movie.language"
          :rules="[(v) => !!v || 'La langue est requise']"
          label="language"
          required
        ></v-text-field>

        <v-text-field
          v-model="movie.type"
          :rules="[(v) => !!v || 'Le genre est requis']"
          label="Genre (SF, Historique, ...) "
          required
        ></v-text-field>

        <v-text-field
          v-model="movie.poster"
          :rules="[(v) => !!v || 'L\'URL du poster est requis']"
          label="URL du poster"
          required
        ></v-text-field>

        <v-select
          v-model="movie.producerId"
          :rules="[(v) => !!v || 'Le réalisateur est requis']"
          :items="producers"
          item-text="lastname"
          item-value="id"
          label="Réalisateur"
          required
        />

        <v-textarea
          v-model="movie.synopsis"
          :rules="[(v) => !!v || 'Le synopsis est requis']"
          label="Synopsis"
          required
        ></v-textarea>
      </v-form>

      <v-btn color="primary" class="mt-3" @click="saveMovie">Ajouter</v-btn>
    </div>

    <div v-else>
      <v-card class="mx-auto">
        <v-card-title> Votre film à bien été ajouté </v-card-title>

        <v-card-subtitle> Retourner à la liste des films. </v-card-subtitle>

        <v-card-actions>
          <v-btn
            color="success"
            @click="
              $router.push({
                name: 'movies',
              })
            "
            >Retour</v-btn
          >
        </v-card-actions>
      </v-card>
    </div>
  </div>
</template>

<script>
import MovieDataService from "../services/MovieDataService";
import ProducerDataService from "../services/ProducerDataService";

export default {
  data() {
    return {
      movie: {},
      producers: [],
      submitted: false,
    };
  },
  methods: {
    getProducers() {
      ProducerDataService.getAll()
        .then((response) => {
          this.producers = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    saveMovie() {
      var data = {
        title: this.movie.title,
        year: this.movie.year,
        language: this.movie.language,
        type: this.movie.type,
        poster: this.movie.poster,
        synopsis: this.movie.synopsis,
        producerId: this.movie.producerId,
      };

      MovieDataService.create(data)
        .then((response) => {
          this.movie.id = response.data.id;
          this.submitted = true;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  mounted() {
    this.getProducers();
  },
};
</script>

<style>
.submit-form {
  max-width: 500px;
}
</style>
