<template>
  <div class="submit-form mt-3 mb-6 mx-auto">
    <p class="headline">Ajouter un réalisateur</p>

    <div v-if="!submitted">
      <v-form ref="form" lazy-validation>
        <v-text-field
          v-model="producer.firstname"
          :rules="[(v) => !!v || 'Le prénom est requis']"
          label="Prénom"
          required
        ></v-text-field>

        <v-text-field
          v-model="producer.lastname"
          :rules="[(v) => !!v || 'Le nom est requis']"
          label="Nom"
          required
        ></v-text-field>

        <v-text-field
          v-model="producer.nationality"
          :rules="[(v) => !!v || 'La nationalité est requise']"
          label="Nationalité"
          required
        ></v-text-field>

        <v-text-field
          v-model="producer.birthdate"
          :rules="[(v) => !!v || 'La date de naissance est requise']"
          label="Date de naissance (yyyy-mm-dd)"
          required
        ></v-text-field>
      </v-form>

      <v-btn color="primary" class="mt-3" @click="saveProducer">Submit</v-btn>
    </div>

    <div v-else>
      <v-card class="mx-auto">
        <v-card-title>
          Le réalisateur à bien été ajouté à la liste des réalisateurs
        </v-card-title>

        <v-card-subtitle> Retourner à la liste des films. </v-card-subtitle>

        <v-card-actions>
          <v-btn
            color="success"
            @click="
              $router.push({
                name: 'movies',
              })
            "
            >Retour</v-btn
          >
        </v-card-actions>
      </v-card>
    </div>
  </div>
</template>

<script>
import ProducerDataService from "../services/ProducerDataService";

export default {
  data() {
    return {
      producer: {},
      submitted: false,
    };
  },
  methods: {
    saveProducer() {
      var data = {
        firstname: this.producer.firstname,
        lastname: this.producer.lastname,
        nationality: this.producer.nationality,
        birthdate: this.producer.birthdate,
      };

      ProducerDataService.create(data)
        .then((response) => {
          this.producer.id = response.data.id;
          this.submitted = true;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style>
.submit-form {
  max-width: 500px;
}
</style>
