<template>
  <div class="submit-form mt-3 mx-auto">
    <p class="headline">Edit Movie</p>

    <div v-if="!submitted">
      <v-form ref="form" lazy-validation>
        <v-text-field
          v-model="movie.title"
          :rules="[(v) => !!v || 'Le titre est requis']"
          label="Titre"
          required
        ></v-text-field>

        <v-text-field
          v-model="movie.year"
          :rules="[(v) => !!v || 'L\'année est requise']"
          label="Année de sortie"
          required
        ></v-text-field>

        <v-text-field
          v-model="movie.language"
          :rules="[(v) => !!v || 'La langue est requise']"
          label="Langue"
          required
        ></v-text-field>

        <v-text-field
          v-model="movie.type"
          :rules="[(v) => !!v || 'Le genre est requis']"
          label="Genre"
          required
        ></v-text-field>

        <v-text-field
          v-model="movie.poster"
          :rules="[(v) => !!v || 'L\'URL du poster est requise']"
          label="URL du poster"
          required
        ></v-text-field>

        <v-select
          v-model="movie.producerId"
          :rules="[(v) => !!v || 'Le réalisateur est requis']"
          :items="producers"
          item-text="lastname"
          item-value="id"
          label="Réalisateur"
        />
      </v-form>

      <v-btn color="primary" class="mt-3" @click="editMovie">Submit</v-btn>
    </div>

    <div v-else>
      <v-card class="mx-auto">
        <v-card-title> Le film a bien été mis a jour ! </v-card-title>

        <v-card-subtitle>
          Cliquer sur le boutton pour retourner à la liste des films
        </v-card-subtitle>

        <v-card-actions>
          <v-btn
            color="success"
            @click="
              $router.push({
                name: 'movies',
              })
            "
            >Retour</v-btn
          >
        </v-card-actions>
      </v-card>
    </div>
  </div>
</template>

<script>
import MovieDataService from "../services/MovieDataService";
import ProducerDataService from "../services/ProducerDataService";

export default {
  props: {
    id: { type: [String, Number], required: true },
  },

  data() {
    return {
      movie: {},
      producers: [],
      submitted: false,
    };
  },

  methods: {
    getMovie() {
      MovieDataService.get(this.id)
        .then((response) => {
          this.movie = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getProducers() {
      ProducerDataService.getAll()
        .then((response) => {
          this.producers = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    editMovie() {
      var id = this.movie.id;
      var data = {
        title: this.movie.title,
        year: this.movie.year,
        language: this.movie.language,
        type: this.movie.type,
        poster: this.movie.poster,
        producerId: this.movie.producerId,
      };

      MovieDataService.update(id, data)
        .then((response) => {
          this.movie.id = response.data.id;
          this.submitted = true;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  mounted() {
    this.getMovie();
    this.getProducers();
  },
};
</script>

<style>
.submit-form {
  max-width: 500px;
}
</style>
