<template>
  <div>
    <v-container>
      <div class="mb-6">
        <h1>Liste des films</h1>
      </div>

      <v-text-field
        hide-details
        v-model="search"
        class="ml-4 pb-6"
        label="Rechercher un film"
      />

      <v-row no-gutters style="height: 350px mb-4">
        <v-col
          cols="3"
          v-for="movie in this.movies"
          :key="movie.id"
          class="pa-3"
        >
          <v-card
            @click="
              $router.push({
                name: 'movie-details',
                params: { id: movie.id },
              })
            "
          >
            <v-img height="250" :src="movie.poster"></v-img>

            <v-card-title>{{ movie.title }}</v-card-title>

            <v-card-text>
              <v-row class="mx-0">
                <v-rating
                  v-model="movie.rate"
                  color="amber"
                  dense
                  half-increments
                  readonly
                  size="14"
                ></v-rating>

                <div v-if="movie.rate" class="grey--text ml-4">
                  ({{ movie.rate }})
                </div>
              </v-row>

              <div class="my-4 subtitle-1">Genre : {{ movie.type }}</div>
              <div class="my-4 subtitle-1">Année : {{ movie.year }}</div>

              <div class="my-4 subtitle-1" v-if="movie.producer == null">
                Producteur : Inconnu
              </div>
              <div class="my-4 subtitle-1" v-else>
                Producteur : {{ movie.producer.firstname }}
                {{ movie.producer.lastname }}
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import MovieDataService from "../services/MovieDataService";

export default {
  name: "movies",
  data() {
    return {
      movies: {},
      submitted: false,
      search: "",
    };
  },
  methods: {
    getMovies() {
      MovieDataService.getAll(this.search)
        .then((response) => {
          console.log(response);
          this.movies = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  mounted() {
    this.getMovies();
  },

  watch: {
    search: {
      handler() {
        this.getMovies();
      },
    },
  },
};
</script>

