<template>
  <v-container>
    <div class="mt-6 mb-6">
      <h1>{{ this.movie.title }}</h1>
    </div>
    <div>
      <v-container>
        <v-row>
          <v-col cols="5">
            <v-img :src="this.movie.poster"></v-img>
          </v-col>
          <v-col cols="7">
            <v-card-text class="ml-4 mt-4">
              <v-row>
                <p>
                  <b>Titre : {{ this.movie.title }}</b>
                </p>
              </v-row>
              <v-row>
                <p>
                  <b>Genre : {{ this.movie.type }} </b>
                </p>
              </v-row>
              <v-row>
                <p>
                  <b>Langue : {{ this.movie.language }}</b>
                </p>
              </v-row>
              <v-row>
                <p>
                  <b>Année : {{ this.movie.year }}</b>
                </p>
              </v-row>
              <v-row>
                <span>
                  <b>
                    Producteur : {{ this.movie.producer.lastname }}
                    {{ this.movie.producer.firstname }}
                  </b>
                </span>
              </v-row>
              <v-row class="ml-6">
                <span>- Né le : {{ this.movie.producer.birthdate }}</span>
              </v-row>
              <v-row class="ml-6">
                <span
                  >- Nationalité : {{ this.movie.producer.nationality }}</span
                >
              </v-row>
              <v-row class="mt-6">
                <p>
                  <b> Note</b>
                  <v-rating
                    v-model="movie.rate"
                    color="amber"
                    dense
                    half-increments
                    readonly
                    size="20"
                  />
                </p>
              </v-row>
              <v-row>
                <p>
                  <b>Synopsis : </b>
                  {{ movie.synopsis }}
                </p>
              </v-row>
            </v-card-text>
            <v-divider class="mx-4"></v-divider>
            <v-row class="mx-auto pa-6">
              <v-col cols="4">
                <v-btn
                  color="blue"
                  class="ma-2 white--text"
                  @click="rateDialog = true"
                >
                  Noter
                  <v-icon right dark> mdi-star </v-icon>
                </v-btn>
              </v-col>
              <v-col cols="4">
                <v-btn
                  color="#212F3C"
                  class="ma-2 white--text"
                  @click="
                    $router.push({
                      name: 'movie-edit',
                      params: { id: movie.id },
                    })
                  "
                >
                  Editer
                  <v-icon right dark> mdi-pencil </v-icon>
                </v-btn>
              </v-col>

              <v-col cols="4">
                <v-btn
                  color="red"
                  class="ma-2 white--text"
                  @click="deleteMovie()"
                >
                  Supprimer
                  <v-icon right dark> mdi-delete </v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <v-dialog v-model="rateDialog" max-width="800px">
      <v-card>
        <v-card-title>
          <span class="headline">Quelle note donneriez vous à ce film ?</span>
        </v-card-title>
        <hr />
        <v-card-text>
          <v-container>
            <v-row>
              <v-rating
                dense
                empty-icon="mdi-star-outline"
                full-icon="mdi-star"
                half-icon="mdi-star-half"
                hover
                length="5"
                size="64"
                value="2"
                v-model="movie.rate"
              ></v-rating>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="rateDialog = false">
            Fermer
          </v-btn>
          <v-btn color="blue darken-1" text @click="rateMovie()">
            Valider
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import MovieDataService from "../services/MovieDataService";
export default {
  props: {
    id: { type: [String, Number], required: true },
  },

  data: function () {
    return {
      movie: {},
      rateDialog: false,
    };
  },

  methods: {
    getMovie() {
      MovieDataService.get(this.id)
        .then((response) => {
          this.movie = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    deleteMovie() {
      MovieDataService.delete(this.id)
        .then(() => {
          this.$router.push({
            name: "movies",
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },

    rateMovie() {
      var id = this.movie.id;
      var data = {
        rate: this.movie.rate,
      };
      MovieDataService.update(id, data)
        .then(() => {
          this.rateDialog = false;
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },

  mounted() {
    this.getMovie();
  },
};
</script>
