<template>
  <v-footer class="footer" app color="#273746" dark>
    <v-row>
      <v-col class="text-center" cols="12">
        {{ new Date().getFullYear() }} —
        <strong> ©Films 2 ouf - Thomas CHABROL - DAWIN A </strong>
      </v-col>
    </v-row>
  </v-footer>
</template>

<style scoped>
footer {
  margin-top: 50px;
}
</style>
