<template >
  <div>
    <!-- App bar -->
    <v-app-bar clipped-left class="elevation-0" color="#212F3D" dark app>
      <v-app-bar-nav-icon
        @click.stop="drawer = !drawer"
        class="mr-6"
      ></v-app-bar-nav-icon>
      <h2>Films 2 ouf</h2>
      <v-spacer></v-spacer>
    </v-app-bar>

    <!-- Drawer -->
    <v-navigation-drawer v-model="drawer" clipped app color="#34495E" dark>
      <v-list nav>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.link"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content class="ml-n3">
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data: () => ({
    drawer: false,
    items: [
      {
        title: "Liste des films",
        icon: "mdi-movie",
        link: "/",
      },
      {
        title: "Ajouter un film",
        icon: "mdi-movie-open-plus",
        link: "/movies/add",
      },
      {
        title: "Ajouter un réalisateur",
        icon: "mdi-account-plus",
        link: "/producers/add",
      },
    ],
  }),
};
</script>
